%head
	= stylesheet_link_tag 'clubs'
	= csrf_meta_tag
.mapControl	
	.map_left_container
		.mainMap
			= image_tag("http://www.trickyplayers.com/images/standard-spinner.gif", :class => 'mapSpinner')
			= render 'clubs/gmaps'
	.map_right_container
		.locationContainer
			= render 'clubs/currentLocation'
			= render 'clubs/bylocation'
		= render 'clubs/search_boxes'	
		= render 'clubs/ng_scope'
			


