%head
	= stylesheet_link_tag 'clubs'
	= csrf_meta_tag
.mapControl	
	.map_left_container
		.mainMap
			= render 'clubs/gmaps'
	.map_right_container
		.locationContainer
			= render 'clubs/currentLocation'
			= render 'clubs/bylocation'
		= render 'clubs/search_boxes'
		.fullList
			= render 'clubs/full_list'
			


