- @clubs.each do |club|
	= link_to club_path(club) do
		.club_row
			= club.name
			= club.address
			= club.post_code


%div{style: "width: 800px;"}
	#map{style: "width: 800px; height: 400px;"}

- content_for :scripts do 
	:javascript
		handler = Gmaps.build('Google');
		handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
			markers = handler.addMarkers(#{raw @hash.to_json});
			handler.bounds.extendWith(markers);
			handler.fitMapToBounds();
			});