%section.formWrapper
  %section.formContainer.registerModal

    = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      
      %h2.shadowCaps Sign up
      %i.facebookSignin
        = link_to player_omniauth_authorize_path(:facebook) do
          = image_tag 'facebook_login.svg', data: { name: 'facebook_login' }
      %i.googleSignin
        = link_to player_omniauth_authorize_path(:google_oauth2) do
          = image_tag 'google_login.svg', data: { name: 'google_login' }
      %p.or
        or
      %article.siteSignin
        %section.fieldContainer
          %h3.field
            = f.label :email
            = f.email_field :email, :autofocus => true
            - if @player.errors[:email].any?
              %span.error= @player.errors[:email].join(', ')
          %h3.field
            = f.label :password
            = f.password_field :password
            - if @player.errors[:password].any?
              %span.error= @player.errors[:password].join(', ')
          %h3.field
            = f.label :password_confirmation
            = f.password_field :password_confirmation
            - if @player.errors[:password].any?
              %span.error= @player.errors[:password].join(', ')
          = f.button class: 'signUp'