%section.loginOverlay

%section.formContainer.loginModal

  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    %i.close
      = hoverable_image_tag 'close'
    %h2.shadowCaps Sign in
    %i.facebookSignin
      = link_to player_omniauth_authorize_path(:facebook) do
        = hoverable_image_tag 'facebook_login'
    %i.googleSignin
      = link_to player_omniauth_authorize_path(:google_oauth2) do
        = hoverable_image_tag 'google_login'
    %p.or
      or
    %article.siteSignin
      %section.fieldContainer
        %h3.field
          = f.label :email
          = f.email_field :email, :autofocus => true
          - if resource.errors[:email].any?
            %span.error= resource.errors[:email].join(', ')
        %h3.field
          = f.label :password
          = f.password_field :password
          - if alert
            %span.error= alert
        %h3.field
          %aside.rememberMe
            = f.check_box :remember_me
            = f.label :remember_me
        = f.button class: 'submitSignIn'