%section.homeContent

  %article.carousel
    .jcarousel
      %ul
        %li
          %img= image_tag 'airshot.jpg'
        %li
          %img= image_tag 'poised.jpg'
        %li
          %img= image_tag 'woman_in_blue.jpg'
        %li
          %img= image_tag 'orange_ball.jpg'
        %li
          %img= image_tag 'faceoff.jpg'
        %li
          %img= image_tag 'paperwork.jpg'
        %li
          %img= image_tag 'watching_ball.jpg'
    .jcarousel-pagination

  %article.container
    .circles
      %aside.playWhere
        %a{href: "/clubs"}
          %h2= image_tag 'map.jpg'
      %aside.scoringApp
        %a{href: "/matches/new"}
          %h2= image_tag 'map.jpg'
      %aside.statsCentre
        %a{href: "/matches"}
          %h2= image_tag 'map.jpg'