%section.homeContent

  %article.carousel
    .jcarousel
      %ul
        %li
          %img= image_tag 'airshot.jpg'
        %li
          %img= image_tag 'poised.jpg'
        %li
          %img= image_tag 'orange_ball.jpg'
        %li
          %img= image_tag 'faceoff.jpg'
        %li
          %img= image_tag 'paperwork.jpg'
        %li
          %img= image_tag 'watching_ball.jpg'
    .jcarousel-pagination

  %article.container
    %aside.playWhere
      Where to Play
    %aside.scoringApp
      %a{href: "/matches/new"}
        Scoring App
    %aside.scores
      Scores
