#container.match{"data-id" => @match.id}
  %section.player1
    %h2#p1-name{"data-id" => @match.players.first.id}
      = @match.players.first.name
    %article#p1-points= @match.scores.first.current_game.points
    %aside#p1-games= @match.scores.first.won_games
    %nav= link_to "Back", '', id: 'p1-back'

  %section.player2
    %h2#p2-name{"data-id" => @match.players.last.id}
      = @match.players.last.name
    %article#p2-points= @match.scores.last.current_game.points
    %aside#p2-games= @match.scores.last.won_games
    %nav= link_to "Back", '', id: 'p2-back'




