<div id="container" class='match' data-id="<%= @match.id %>" > 

	<!-- <p> should be id='left-points' </p> -->
	
	<section>

		<h2 id="p1-name" >

			<%= @match.players.first.name %>

		</h2>

		<article id="p1-points" >

			<%= @match.scores.first.current_game.points %> 

		</article>

		<aside id="p1-games" >

			<%= @match.scores.first.won_games %>

		</aside>

		<!-- <h4>
			server-marker
		</h4> -->

		<nav>

			<%= link_to "Back", '', id: 'p1-back' %>

		</nav>

	</section>


	<section>

		<h2 id="p2-name">

			<%= @match.players.last.name %>

		</h2>

		<article id='p2-points'>

			<%= @match.scores.last.current_game.points %>

		</article>

		<aside id="p2-games">

			<%= @match.scores.first.won_games %>

		</aside>

		<!-- <h4>
			server-marker
		</h4> -->

		<nav>

			<%= link_to "Back", '', id: 'p2-back' %>

		</nav>

	</section>


</div>




