- if player_signed_in?
  %li
    - if current_player.provider != nil
      = current_player.first_name
      = current_player.last_name
      = image_tag current_player.image_url
    - else
      Welcome #{current_player.email}
  %li
    = link_to('Logout', destroy_player_session_path, :method => :delete)