<!doctype>
<html>
  <head>
    <title>Ping Pong Pros</title>
    <%= stylesheet_link_tag 'reset' %>
    <%= stylesheet_link_tag 'main' %>
    <link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header>
      <nav class='home'>
        <a href='#'>
          <i class='logo'><%= image_tag 'logo.svg', data: { name: 'logo' } %></i>
        </a>
      </nav>
      <nav class='social'>
        <a href='#'>
          <i class='socialItem'><%= image_tag'twitter.svg', data: { name: 'twitter' } %></i>
        </a>
        <a href='#'>
          <i class='socialItem'><%= image_tag'facebook.svg', data: { name: 'facebook' } %></i>
        </a>
        <a href='#'>
          <i class='socialItem'><%= image_tag'google+.svg', data: { name: 'google+' } %></i>
        </a>
      </nav>
      <nav class='registerSignin'>
        <a href='#'>
          <i class='regItem'><%= image_tag'register.svg', data: { name: 'register' } %></i>
        </a>
        <a href='#'>
          <i class='regItem'><%= image_tag'sign_in.svg', data: { name: 'sign_in' } %></i>
        </a>
      </nav>
    </header>
    <main>

    </main>
    <footer>
      <nav class='footNav'>
        <a href='#'>
          <i class='footLinks'><%= image_tag 'home.svg', data: { name: 'home' } %></i>
        </a>
        <a href='#'>
          <i class='footLinks'><%= image_tag 'about.svg', data: { name: 'about' }  %></i>
        </a>
        <a href='#'>
          <i class='footLinks'><%= image_tag 'contact.svg', data: { name: 'contact' }  %></i>
        </a>
        <a href='#'>
          <i class='footLinks'><%= image_tag 'cookies.svg', data: { name: 'cookies' }  %></i>
        </a> 
      </nav>
      <aside class='copyright'>
        <p>&copy; <span class='orangeText'><a href='#'>Ping Pong Pros</a></span> 2013. All rights reserved.
        </p>
      </aside>
    </footer>

    <script src='http://code.jquery.com/jquery-2.0.3.js'></script>
    <script>

    $(function() {
      $('i img').on('mouseover', function() {
        var imgSrc = '/assets/' + $(this).data('name') + '_hover.svg';

        $(this).attr('src', imgSrc)
      });

      $('i img').on('mouseout', function() {
        var imgSrc = '/assets/' + $(this).data('name') + '.svg';

        $(this).attr('src', imgSrc)
      });
    });

    </script>

  </body>
</html>