!!!
%html
  %head
    %title Ping Pong Pros
    = stylesheet_link_tag 'reset'
    = stylesheet_link_tag 'import'
    = stylesheet_link_tag 'match'
    = csrf_meta_tag
    %link{href: "http://fonts.googleapis.com/css?family=Muli", rel: "stylesheet", type: "text/css"}
    %script{src: src="http://code.angularjs.org/1.1.5/angular.js", type: "text/javascript"}
  %body
    %main
      %nav.home
        %a{href: home_index_path}
          %i.logo= image_tag 'logo.svg', data: { name: 'logo' }
      %nav.match
        %a{href: "#"}
          %i.matchItem= image_tag'new_game.svg', data: { name: 'new_game' }
      = yield
    = javascript_include_tag 'application'