!!!
%html
  %head
    %title Ping Pong Pros
    = stylesheet_link_tag 'reset'
    = stylesheet_link_tag 'import'
    = csrf_meta_tag
  %body
    %main
      %nav.home
        %a{href: home_index_path}
          %i.logo= image_tag 'logo.svg', data: { name: 'logo' }
      %nav.match
        %a{href: "#"}
          %i.matchItem= image_tag'new_game.svg', data: { name: 'new_game' }
      = yield
    = javascript_include_tag 'application'