!!!
%html
  %head
    %title Ping Pong Pros
    = stylesheet_link_tag 'application'
    = csrf_meta_tag
    
    %script{src: src="http://code.angularjs.org/1.2.5/angular.js", type: "text/javascript"}
  %body
    %header.matchHeader
      %nav.home2
        %a{href: home_index_path}
          %i.matchItem= image_tag 'logo.svg', data: { name: 'logo' }

      - if @show_reset_button
        %nav.match{data: { id: @match.id } }
          %a{href: new_match_path}
            %i.restart= hoverable_image_tag 'restart'
    %section.matchWrapper
    = yield
    = javascript_include_tag 'application'